<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
    <link rel="stylesheet" href="{{ url_for('static',filename='eventedt.css')}}">
  </head>
  <body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color:#256799">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.ieee.org/">
      <img src="{{ url_for('static',filename='Logo.png')}}" alt="" width="100" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/announcements">Announcements</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Execom
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/execom2021">Execom present</a></li>
            <li><a class="dropdown-item" href="javascript: notdone()">Execom 2020</a></li>
            <li><a class="dropdown-item" href="javascript: notdone()">Execom 2019</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log-in</a>
        </li>
      </ul>
      <form class="d-flex" action="javascript:notdone()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>







<script>
function notdone()
{
alert("This part is under construction");
}
</script>

<div class="py-5 mb-0 text-center text-light bg-dark" >
  <div class="container">
    <h2><span class="text-warning">IEEE CS </span>GECT
    </h2>
      <h1>LATEST EVENTS</h1>
      <p>click on posters for links</p>
      
  </div>
</div>
</div>
<script>
  function alertone()
  {
    alert("Links are not ready yet");
  }
</script>

<!-- posters -->
    <div class="img-slider">
      <div class="slide active">
        <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster1.jpeg')}}" alt=""></a>
        
      </div>
      <div class="slide">
        <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster2.jpeg')}}" alt=""></a>
        
      </div>
      <div class="slide">
        <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster3.jpeg')}}" alt=""></a>
        
      
      </div>
      <div class="slide">
        <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster4.jpeg')}}" alt=""></a>
        
      
      </div>
      
        <div class="slide">
          <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster5.jpeg')}}" alt=""></a>
          
        </div>
        <div class="slide">
          <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster6.jpeg')}}" alt=""></a>
          
        </div>
        <div class="slide">
          <a href="javascript:alertone();"><img src="{{ url_for('static',filename='poster7.jpeg')}}" alt=""></a>
          
        </div>
      <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>

    <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btn');
    let currentSlide = 1;

    // Javascript for image slider manual navigation
    var manualNav = function(manual){
      slides.forEach((slide) => {
        slide.classList.remove('active');

        btns.forEach((btn) => {
          btn.classList.remove('active');
        });
      });

      slides[manual].classList.add('active');
      btns[manual].classList.add('active');
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        manualNav(i);
        currentSlide = i;
      });
    });

    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
   
  
  </body>
</html>